.Account {
  display: grid;
  place-items: center;

  div {
    height: 300px;
    margin-top: 10px;
    text-align: center;
  }

  p {
    font-size: var(--md);
  }

  h1 {
    color: var(--primary-color);
    font-size: 25px;
  }

  h2 {
    margin: 0;
    color: var(--primary-color);
  }

  span {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .Account {
    div {
      width: 60%;
      display: grid;
      place-content: center;
      margin-top: 40px;
      text-align: left;
    }

    h1 {
      font-size: 32px;
      margin: 40px 0 0 0;
    }

    p {
      font-size: var(--lg);
    }
  }
}
