.Dashboard {
  display: grid;
  place-items: center;

  h1 {
    color: var(--primary-color);
    font-size: 25px;
  }

  .sections {
    height: 300px;
    place-items: center;
  }
}

.sections div h2 {
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: var(--primary-color);
}

.sections .left {
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 10px;
  margin-bottom: 10px;

  h3 {
    margin: 20px 0 10px 0;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

.sections .right {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100px;
    height: 30px;
    font-size: var(--sm);
    border-radius: 6px;
    margin-top: 20px;
    border: 1px solid var(--secondary-color);
  }

  .query-bt,
  .clear-bt {
    width: 100px;
    height: 30px;
    font-size: var(--sm);
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .card {
    margin-top: 20px;
    width: 250px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;

    .bold {
      font-weight: bold;
      color: var(--primary-color);
    }

    p {
      margin: 8px;
      font-size: var(--md);
    }
  }

  .block {
    margin-top: 20px;
    width: 250px;
    height: 162px;
  }
}

@media (min-width: 992px) {
  .Dashboard h1 {
    font-size: 32px;
    margin: 40px 0 0 0;
  }

  .Dashboard .sections {
    margin-top: 40px;
    width: 60%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .sections div h2 {
  }
  .sections .left {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}
