/* Globals */
:root {
  --white: #ffffff;
  --black: #000000;
  --primary-color: #01515e;
  --secondary-color: #8dbec7;
  --complementary-color: #f2d82b;
  --light-gray: #c7c7c7;
  --dark-white: #f7f7f7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--secondary-color);
}
.logo-container {
  background-color: var(--white);
  padding: 0 10px;
  border-radius: 8px;
}
.logo-container img {
  margin-top: 8px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.nav-logo {
  width: 100px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a {
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--secondary-color);
  padding: 8px;
  border-radius: 8px;
  font-size: var(--md);
}
.navbar-left ul li a:hover {
  border: 1px solid var(--white);
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-wallet {
  color: var(--secondary-color);
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: var(--sm);
  margin-right: 12px;
  cursor: pointer;
}

/* Home content */
.container {
  display: grid;
  place-items: center;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 70%;
  margin-top: 40px;
}

.content__text {
  padding: 20px 0;
}
.content__text h1 {
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  margin-top: 0;
}

.content__text p {
  font-size: var(--md);
  margin-top: 0;
  color: var(--primary-color);
}

.content__img {
  padding: 20px;
}

.content__img img {
  width: 400px;
  height: 400px;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 38vw;
}

footer p {
  font-size: var(--sm);
  color: var(--primary-color);
}
