:root {
  --white: #ffffff;
  --black: #000000;
  --primary-color: #01515e;
  --secondary-color: #8dbec7;
  --complementary-color: #f2d82b;
  --light-gray: #c7c7c7;
  --dark-white: #f7f7f7;
  --red: #ffd6d7;
  --sm: 16px;
  --md: 18px;
  --lg: 20px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.inactive {
  display: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
