nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
}
.menuIcon {
  margin-left: 10px;
}

.menuIcon:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.logo-container {
  display: none;
  background-color: var(--white);
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.logo-container img {
  margin-top: 8px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.nav-logo {
  width: 100px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a {
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--secondary-color);
  padding: 8px;
  border-radius: 8px;
  font-size: var(--lg);
}
.navbar-left ul li a:hover {
  border: 1px solid var(--white);
  filter: brightness(95%);
}

.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-wallet {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 12px;
  cursor: pointer;
}

.navbar-wallet p {
  font-size: var(--lg);
  color: var(--secondary-color);
  margin: 0 10px 0 0;
  pointer-events: none;
}

.add-account {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.close-account {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

@media (min-width: 992px) {
  nav {
    padding: 0 24px;
  }
  .menuIcon {
    display: none;
  }
  .navbar-wallet p {
    pointer-events: all;
  }
  .logo-container {
    display: inherit;
  }
  .navbar-left ul {
    display: flex;
  }
}
