.container {
  display: grid;
  place-items: center;
}

.market-title {
  color: var(--primary-color);
  font-size: 25px;
}

.market-content {
  width: 80%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  place-content: center;
}

@media (min-width: 992px) {
  .market-title {
    font-size: 32px;
    margin: 40px 0 0 0;
  }
}
