.container {
  display: grid;
  place-items: center;
}

.market-content {
  width: 80%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
  place-content: center;
}

.market-title {
  margin: 40px 0 0 0;
  color: var(--primary-color);
}
