.MobileMenu {
  height: 100vh;
  padding: 24px;
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: var(--white);
  border: 1px solid var(--secondary-color);

  a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--lg);
  }

  ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    border-bottom: 1px solid var(--secondary-color);
  }

  ul li {
    margin-bottom: 24px;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--secondary-color);
  }
}
