.transaction-detail {
  padding: 10px 20px;
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

.transaction-detail-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.transaction-detail-close img {
  width: 30px;
}

@media (min-width: 768px) {
  .transaction-detail {
    width: 350px;
    top: 67px;
    border-left: 1px solid var(--secondary-color);
  }
}
