.Sell {
  padding: 10px 20px;
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 62px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

.Sell-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.Sell-close img {
  width: 30px;
}

.Sell-info {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Sell-info h1 {
  font-size: var(--lg);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.Sell-info label {
  font-size: var(--lg);
}

.Sell-info label:last-of-type {
  margin-top: 15px;
}

.Sell-info input {
  padding: 5px;
  font-size: var(--lg);
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  margin-top: 10px;
}

.Sell-info .sell-button {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .Sell {
    width: 350px;
    border-left: 1px solid var(--secondary-color);
    top: 67px;
  }
}
